<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Example App</title>

</head>
<body>
<header class="page-header">
    <h1 class="visually-hidden">D4U - что-то для CEO</h1>
    <div class="page-header__logo">
        <h1>D4U</h1>
    </div>
    <nav class="main-nav  main-nav--closed  main-nav--nojs">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <div class="main-nav__wrapper">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="api/api/">{{user}}</a></li>
                <li class="main-nav__item"><button id="myBtn">Войти</button></li>
            </ul>
        </div>
    </nav>
</header>


<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Войти</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form>
            First name:<br>
            <input type="text" name="login" value="example@company.com">
            <br>
            Last name:<br>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>

</div>

{{{body}}}

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>