<div class="modal">

    <h2 class="modal__inner">Восстановление доступа</h2>

    <p class="modal__header">Забыли пароль или потеряли доступ к профилю? Введите привязанную к профилю эл. почту, мы отправим вам письмо со ссылкой для восстановления.</p>

    <div class="modal__form">
        <input class="input inputEmail" type="text" name="login" value="Эл. почта">

        <input class="button" type="submit" value="Отправить">
    </div>

</div>
<script>
    var sendEmailBtn = document.getElementsByClassName('button')[0]
    var sendEmailInput = document.getElementsByClassName('inputEmail')[0]
    sendEmailBtn.onclick = function () {
        url = '/api/forgot'
        data = {'login': sendEmailInput.value}
        fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response =>
                {
                    console.log('Success:', response)
                    if (response['status'] === '400'){
                        alert(response['message'])
                    }
                    else if (response['status'] === '200'){
                        alert(response['message'])
                    }
                })
    }

</script>