<h1>Home Page</h1>
City1<br>
<input type="text" name="city" list="cityname">
<datalist id="cityname">
    <option value="Boston">
    <option value="Cambridge">
</datalist><br>
City2<br>
<input type="text" name="city" list="cityname">
<datalist id="cityname">
    <option value="Boston">
    <option value="Cambridge">
</datalist><br>
Date1<br>
<input type="date" name="date1"><br>
Date2<br>
<input type="date" name="date2"><br>
<input class="button" type="submit" value="Search">

<script>


</script>
