
<h1>Home Page</h1>
City1<br>
<input type="text" name="date1" class="city1" list="cityname">
<datalist id="cityname">
    <option value="Boston">
    <option value="Cambridge">
</datalist><br>
City2<br>
<input type="text" name="date2" class="city2" list="cityname">
<datalist id="cityname">
    <option value="Boston">
    <option value="Cambridge">
</datalist><br>
Date1<br>
<input type="date" name="date1"  class="date1"><br>
Date2<br>
<input type="date" name="date2"  class="date2"><br>
Тип перевозки<br>
<input type="text" name="date1" class="transport_type" list="transport_types">
<datalist id="transport_types">
    <option value="Железнодорожные">
    <option value="Морские">
    <option value="Авиационные">
    <option value="Автоперевозки">
    <option value="Мультимодальные">
</datalist><br>

<input class="button" type="submit" value="Search">

<script>
    getCookie = function(name) {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) return match[2];
    }

    var sendSearchBtn = document.getElementsByClassName('button')[0]
    var date1 = document.getElementsByClassName('date1')[0]
    var date2 = document.getElementsByClassName('date2')[0]
    var city1 = document.getElementsByClassName('city1')[0]
    var city2 = document.getElementsByClassName('city2')[0]
    var transport_type = document.getElementsByClassName('transport_type')[0]
    sendSearchBtn.onclick = function () {
        const user = getCookie('token')
        url = '/api/request'
        data = {
            'user': user,
            'date1': date1.value,
            'date2': date2.value,
            'city1': city1.value,
            'city2': city2.value,
            'transport_type': transport_type.value
            }
        console.log(data)
        fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response =>
                {
                    console.log('Success:', response);
                    if (response['status'] === '400'){
                        alert(response['message'])
                    }
                    else if (response['status'] === '200'){
                        alert(response['message'])
                    }
                })
    }
</script>
<!--
<div class="jumbotron text-center">
  <h1>Delivery for You</h1> 
  <p>Поиск логистических компаний</p>
    <div class="row">
      <div class="col-lg-3">
          <input type="text" name="date1" class="city1" list="cityname">
            <datalist id="cityname">
                <option value="Boston">
                <option value="Cambridge">
            </datalist>
      </div>
      <div class="col-lg-3">
          <input type="text">
      </div>
      <div class="col-lg-3">
          <input type="text">
      </div>
      <div class="col-lg-3">
          <input type="text">
      </div>    
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger">Subscribe</button>
    </div>
</div>
-->