<div class="modal__box">

    <h2 class='formTitle'>Login</h2>

    Email:<br>
    <input class="inputEmail" type="text" name="login" value="example@company.com">
    <br>
    Password:<br>
    <input class="inputPass" type="password" name="password">
    <br>
    <input class="button" type="submit" value="Login">

    <p class='switch'>Registration</p>

</div>

<script>
    var formTitle = document.getElementsByClassName('formTitle')[0]
    var switchLogReg = document.getElementsByClassName('switch')[0]
    var sendEmailBtn = document.getElementsByClassName('button')[0]
    var sendEmailInput = document.getElementsByClassName('inputEmail')[0]
    var sendPassInput = document.getElementsByClassName('inputPass')[0]
    switchLogReg.onclick = function () {
        if (formTitle.innerHTML == 'Login') {
            formTitle.innerHTML = 'Reistration'
            switchLogReg.innerHTML = 'Login'
            sendEmailBtn.value = 'Registration'
        }
        else {
            formTitle.innerHTML = 'Login'
            switchLogReg.innerHTML = 'Registration'
            sendEmailBtn.value = 'Login'
        }
    }
    sendEmailBtn.onclick = function () {
        url = '/api/auth'
        data = {'type': sendEmailBtn.value, 'login': sendEmailInput.value, 'password': sendPassInput.value}
        fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response =>
                    {
                        console.log('Success:', response);
                        if (response['status'] === '400'){
                            alert(response['message'])
                        }
                        else if (response['status'] === '200'){
                            if ('message' in response){
                                alert('!!!' + response['message'])
                            }
                            else if ('token' in response){
                                alert(response['token'])
                                document.cookie = 'token=' + response['token'] + '; path=/'
                                window.location.href = "/";
                            }

                        }
                    })
    }

</script>
