
<div style="margin-top: 70px;">
<h1>Profile page</h1>

<style>
    body {font-family: Arial;}

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #profile {
        display: block;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'profile')">Профиль</button>
    <button class="tablinks" onclick="openCity(event, 'partnership')">Партнерство</button>
    <button class="tablinks" onclick="openCity(event, 'payments')">Платежи</button>
    <button class="tablinks" onclick="openCity(event, 'settings')">Настройки</button>
</div>

<div id="profile" class="tabcontent">
    <h3>Профиль</h3>
    <canvas id="myChart"></canvas>

</div>

<div id="partnership" class="tabcontent">
    <h3>Партнерство</h3>

</div>

<div id="payments" class="tabcontent">
    <h3>Платежи</h3>

</div>

<div id="settings" class="tabcontent">
    <h3>Настройки</h3>
    <div class="grid">
        <div class="grid__cell col-md-8">
            <div class="form__group">
                <h4>Название компании</h4>
                <input type="text" class="field field--text company_name">
            </div>

            <div class="form__group">
                <h4>Сайт</h4>
                <input type="text" class="field field--text company_site">
            </div>

            <div class="form__group">
                <h4>Дата создания компании</h4>
                <input type="text" class="field field--text company_site">
            </div>

            <div class="form__group">
                <h4>Страна</h4>
                <input type="text" class="field field--text company_site">
            </div>

            <div class="form__group">
                <h4>Город</h4>
                <input type="text" class="field field--text company_site">
            </div>

            <div class="form__group">
                <h4>Описание компании</h4>
                <textarea id="subject" name="subject" placeholder="Расскажите о компании..." style="width: 400px; height:200px"></textarea>
            </div>
            <div class="form__group form__group--controls">
                <button id="save_profile_info" class="button button--wide" type="submit">Сохранить</button>
            </div>
        </div>

        <div class="form__group col-md-4">
            <h4>Изображение профиля</h4>
            <input type="file" id="filechooser">
            <button id="save_profile_image" class="button button--wide" type="submit">Сохранить</button>
        </div>
    </div>

</div>

<script>

    // нажатие вкладок
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // отрисовка графика
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    })

    // сохранение логотипа
    function uploadFile() {
        console.log($('#filechooser'));
        var blobFile = $('#filechooser')[0].files[0];
        var formData = new FormData();
        formData.append("fileToUpload", blobFile);

        $.ajax({
            url: "/api/saveprofileimage",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // .. do something
            },
            error: function(jqXHR, textStatus, errorMessage) {
                console.log(errorMessage); // Optional
            }
        });
    }

    // сохранение информации
    function uploadInfo() {
        console.log('uploadinfo');
        var newUserInfo = {};
        newUserInfo['name'] = "Test name"
        newUserInfo['site'] = "Test site"
        newUserInfo['date'] = "2018/01/01"
        newUserInfo['country'] = "Russia"
        newUserInfo['city'] = "Moscow"

        newUserInfo['transport_type_1'] = "2018/01/01"
        newUserInfo['transport_type_2'] = "Russia"
        newUserInfo['transport_type_3'] = "Moscow"

        $.post("/api/saveprofileinfo",
                newUserInfo);
        console.log('finish');
    }


    var saveProfileImageBtn = document.getElementById("save_profile_image");
    saveProfileImageBtn.onclick = function () {
        uploadFile();
    }

    var saveProfileInfoBtn = document.getElementById("save_profile_info");
    saveProfileInfoBtn.onclick = function () {
        uploadInfo();
    }
</script>
</div>