<h1>Profile page</h1>

<style>
    body {font-family: Arial;}

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #profile {
        display: block;
    }
</style>
</head>
<body>

<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'profile')">Профиль</button>
    <button class="tablinks" onclick="openCity(event, 'partnership')">Партнерство</button>
    <button class="tablinks" onclick="openCity(event, 'payments')">Платежи</button>
    <button class="tablinks" onclick="openCity(event, 'settings')">Настройки</button>
</div>

<div id="profile" class="tabcontent">
    <h3>Профиль</h3>

</div>

<div id="partnership" class="tabcontent">
    <h3>Партнерство</h3>

</div>

<div id="payments" class="tabcontent">
    <h3>Платежи</h3>

</div>

<div id="settings" class="tabcontent">
    <h3>Настройки</h3>

</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>